<div id="teamwrap_2">
<figure class="post-thumbnail">
  <div class="hover_socials">
    <div class="innerexcrpt">
        <div class="innercontent">
          %%SOCIALS%%
          </div>
        <div class="helper"></div>
    </div>
  </div>
%%PHOTO%%
</figure>
<h3 class="post-title">%%NAME%%</h3>
%%POSITION%%
%%CONTENT%%
</div>