<div class="cherry-banner_wrap" style="background-image: url(%%IMAGE%%); background-color:%%BGCOLOR%%; color:%%COLOR%%">
    <div class="banner_hover_content">
        <div class="innerexcrpt">
           <div class="innercontent">
             <div class="cont_box">
               %%TITLE%%
               <a href="%%URL%%" class="cherry-btn cherry-btn-primary cherry-btn-medium">Read more</a>
             </div>
           </div>
           <div class="helper"></div>
        </div>
    </div>
</div>