<div class="postswrap_1">
<div class="post-meta">
	<h4>%%DATE="d/m/Y"%%</h4>
</div>
<h3 class="post-title">%%TITLE%%</h3>
%%CONTENT%%
%%BUTTON="btn btn-link"%%
<div class="post-meta-tags">
	%%TAXONOMY="post_tag"%%
</div>
</div>