<div class="extrabiowrap">
%%AVATAR container_class="author-bio_avatar alignleft"%%
<div class="bioinner">
<h4>%%DATE where="single" format="d/m/Y"%%</h4>
<h3><?php printf( __( 'Written by %s', 'child-theme-domain' ), '%%AUTHOR_POSTS_LINK%%' ); ?></h3>
%%AUTHOR_META field="description"%%
</div>
</div>