<footer class="comment-meta">
	<div class="comment-author vcard">
		%%COMMENT_AUTHOR_AVATAR%%
	</div>
</footer>
<div class="comment-content">
	<div class="comment-metadata">
		<h4>%%COMMENT_DATE format="d/m/Y"%%</h4>
	</div>
    <h3><?php printf( '<span class="says">' . __( 'Written by', 'child-theme-domain' ) . '</span> %s', '%%COMMENT_AUTHOR_LINK%%' ); ?></h3>
	%%COMMENT_TEXT%%
    <div class="reply">
    	%%COMMENT_REPLY_LINK text="[reply]"%%
    </div>
</div>