%%THUMBNAIL size="cherry-thumb-2" class="related-posts_thumbnail"%%
<h4>%%DATE where="single" format="d/m/Y"%%</h4>
%%TITLE tag="h4" before="" after="" linked="yes"%%
%%CONTENT type="part" length="42"%%
%%BUTTON text="[more]" class="btn btn-link"%%