<div class="inner-wrap media-content">
	<div class="item-content rollover-content">
		<div class="item-content-inner table-display">
			<div class="table-cell">
				<h3><a href="%%URL%%">%%TITLE%%</a></h3>
				<div class="links-container custom-links custom-hover-slide">%%ZOOMLINK%% %%PERMALINK%%</div>
			</div>
		</div>
	</div>
</div>