<div class="inner-wrap">
	<div class="media-content">
		%%IMAGE="cherry-thumb-s"%%
		<div class="rollover-content ">
			<div class="table-display">
				<div class="links-container custom-links custom-hover-zoom table-cell">%%ZOOMLINK%%</div>
			</div>
		</div>
	</div>
	<div class="item-content">
		<h3><a href="%%URL%%">%%TITLE%%</a></h3>
		<p>%%CONTENT="60"%%</p>
		<a class="cherry-btn cherry-btn-primary cherry-btn-medium" target="_self" href="%%URL%%">Read More</a>
	</div>
</div>